# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
bin/

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Runtime
run/

# Archives
*.zip
*.tar.gz
*.tar.bz2
*.tar

.metals/